<IfModule mod_rewrite.c>
  Options -Indexes -Multiviews
  RewriteEngine On
  RewriteRule "(^|/)\.(?!well-known/)" - [F,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>
